# ~/.gitignore_global
.env.local
.env.*.local
*.decrypted
envVault.sh
*.plain
sops-edit-* # SOPS temporary edit files

# Local .terraform directories (re-downloadable via 'init')
*.terraform/*

# State files (contain secrets and environment-specific data)
*.tfstate
*.tfstate.*

# Crash logs (only needed for debugging)
crash.log

# Sensitive Variable files (where you might store API keys/passwords)
*.tfvars
*.tfvars.json

# Local Override files (used for quick local testing)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration (might contain personal credentials)
.terraformrc
terraform.rc

# Tooling & Local State
.cache/
.config/
.local/
.npm/

# Miscellaneous
--exclude
